#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  color: black;
  
}

.active-tasks {
  min-width: 100px;
  min-height: 100px;
  background-color: aliceblue;
}